

.logo { 
    width: auto;
    height: auto;
    background-size: 75% 75%;
    cursor: pointer;
}
.splash { 
    background-image: url("../images/logo-zacuto-correspondence-3.svg"); 
    background-size: 70%;
}



.menubar {
    height: 100px;
    background-color: #89A6FB;
}

/*a {
--pb-menubar-color: black;
--pb-login-link-color: black;
}*/

body {
    --pb-menubar-background-color: #ffffff;
    --pb-toolbar-background-color: #ffffff;
    --pb-toolbar-color: black;
    --pb-menubar-color: white;
    --pb-base-font-family: 'Spartan', "Oswald", Verdana, sans-serif;
    --pb-serif-font-family: "Junicode", Georgia, "Times New Roman", serif;
    --pb-heading-font-family: "Spartan", "Oswald", Verdana, sans-serif;
}

.persName {
    box-shadow: inset 0 -.7rem 0 0 #797a7e;
    transition: box-shadow .5s,-webkit-box-shadow .5s;
    cursor: pointer;
 }
.tei-quote1{
    color: black;
}
 
/*a pb {
     display: block; 
     margin-left: 4pt; 
     color: grey; 
     float: right;
 }*/
 
 
 section {
            padding-bottom: 150px;
        }
        
        
        footer {
                    position:absolute;
                    bottom: 0;
                    height: 100px;
                }
                
    footer {
     display: flex;
     background: #92AD94;
     padding: 10px 20px;
}
    footer a, a:link {
    color: white;
}